[Unit]
Description=RP0-Bankbox Image and Display Master Service
PartOf=rp0-bankbox.service
After=rp0-bankbox.service

[Service]
EnvironmentFile=/opt/rp0-bankbox/environment
ExecStart=/usr/local/bin/node /opt/rp0-bankbox/dest/imaging/index.js
ExecStart=/nix/store/4g10055px5r43q10i32sr68ylzab2y1s-coreutils-8.31/bin/echo "2" "$PLAID_PUBLIC_KEY" >> /home/tdoggett/rp0-bankbox-display-out
Type=oneshot