[Unit]
Description=RP0-Bankbox Image and Display Master Service
PartOf=rp0-bankbox.service
After=rp0-bankbox.service

[Service]
EnvironmentFile=/opt/rp0-bankbox/environment
ExecStart=/usr/local/bin/node /opt/rp0-bankbox/dest/imaging/index.js
ExecStart=/usr/bin/convert ${IMAGE_OUTPUT} /tmp/rp0-bankbox-display.bmp
ExecStart=/opt/rp0-bankbox/python/load-display.py
Type=oneshot